:root {
    --blue-header:  #06131F;
    --blue-primary: #1D2D3C;
    --blue-secondary: #112030;
}

header{
    background-color: var(--blue-header);
}

main{
    background-color: var(--blue-primary);
}

.card-bg-custom{
    background-color: var(--blue-secondary);
}

.center-image {
    display: block;
    margin: 0 auto;
}